main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 470px;
  margin-right: 660px;
  min-width: 100px;
  margin-top: 150px;
}

#newsGrid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  background-color: white;
  grid-column: span 3;
}

.thing {
  z-index: 2;
  margin-right: 80px;
  margin-left: -400px;
  padding-left: 10px;
}

.visNew {
  z-index: 2;
  margin-left: -130px;
  margin-top: 100px;
  margin-right: 66px;
}

#newsText {
  width: 100%;
  margin-left: 335px;
  margin-top: -250px;
  grid-column: span 3;
  font-size: 19px;
  color: #efeff5;
}

#desc {
  margin-top: 40px;
  margin-left: 7px;
  font-size: 19px;
  color: #efeff5;
}

.newsbtn1 {
  padding: 3px 18px;
}

.newsbtn2 {
  padding: 3px 16px;
  margin-left: -17px;
}

* {
  box-sizing: border-box;
}

.secShop {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  z-index: 9;
  margin: auto;
  padding-top: -5px;
  background-color: none;
}
.GGrid{
  background-color: #bb99ff;
  height: 300px;
  text-align: center;
  border: 20px;
  border-color: pink;
}

.GGrid>img{
  width: 260px;
  height: 205px;
}

@media(max-width:600px) {
  .GGrid{
    position: relative;
    margin-left: -200px;
    margin-top: -110px;
  }
}
