
  body {
    background-color: rgb(236,230,230);
  }

  footer {
  }

  h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 200px;
  }

  p {
    text-align: center;
  }

  * {
    margin: 0;
    padding: 0;
  }

  nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  nav p {
    font-family: arial;
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
    color: #FF5733;
  }

  nav ul {
    float: left;
  }

  nav ul li {
    float: left;
    list-style: none;
    position: relative;
  }

  nav ul li a {
    display: block;
    font-family: arial;
    color: #222;
    font-size: 17px;
    padding: 22px 14px;
    text-decoration: none;
    margin-left: 10px;
  }

  nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
    margin-left: 20px;   /* til selve boksen */
    margin-top: -3px;
  }

  nav ul li:hover ul {
    display: block;
    border: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav ul li ul li {
    width: 100px;
    border-radius: 4px;
    margin-right: 10px;  /* til teksten inni boksen */
    margin-left: 1px;
    padding-left: 1px;
  }

  nav ul li ul li a {
    padding: 8px 14px;
  }

  nav ul li ul li a:hover {
    background-color: #f3f3f3;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 10px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    grid-auto-rows: minmax(50px, auto);
    margin-top: 80px;
  }

  main>article {
    background-color: white;
    padding-top: 0px;
  }

  .førstebilde {
    grid-column: span 3;
    grid-row: span 6;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .grid-tekst {
    padding-top: 0px;
    text-align: center;
    margin-top: -10px;
    background-color: rgb(236,230,230);
    font-size: 18px;
  }

  .drip {
    width: 20px;
    margin-left: -378px;
    margin-top: 13px;
  }

  .navbar {
    position: fixed;
    top: 0;
  }

  .dropdown {
    margin-left: -17px;
    margin-right: -6px;
  }

  .start {
    padding-top: 0px;
    text-align: center;
    margin-top: -10px;
    background-color: rgb(236,230,230);
    font-size: 18px;
  }

  .grå {
    font-size: 18px;
  }

  .grå-skrift {
    color: darkgrey;
  }

  .hovedbilde {
    margin-left: 130px;
    margin-top: 20px;
  }

  #contact {
    margin-top: -100px;
  }

  .usynlig {
    opacity: 0;
  }

  .nike {
    background-color: rgb(236,230,230);
  }

  .fa:hover {
    opacity: 0.7;
  }

  .medier {
    margin-left: 200px;
  }

  .linje {
    padding: 0px;
    border: solid;
    width 100%;
    border-width: 1px;
    color: grey;
    margin-bottom: 20px;
  }

  .skobilde {
    grid-row: span 5;
    padding-bottom: -100px;
  }

  .button {
    text-align: center;
    padding-top: 5px;
    transition: 0.3s;
  }

  .button:hover {
    background-color: grey;
  }

  .pris {
  background-color: rgb(236,230,230);
  text-align: center;
  font-size: 30px;
  }

  .size {
  background-color: rgb(236,230,230);
  text-align: center;
  font-size: 15px;
  }


/* 346, 246    */
